<% if logged_in? %>
  <div style="padding: 10px;">
    Signed in as <%= current_user.email %>
    <%= button_to "Sign out",
        sign_out_path,
        method: :delete,
        form: { style: "display:inline" } %>
  </div>
<% end %>
<h1>All Photos</h1>
<div class="photos-container">
  <%= render @photos %>
</div>
